/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007bff; /* Example primary color */
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.title {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.summary {
    max-width: 700px;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 60px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.bg-light {
    background-color: #eee; /* Light background for alternating sections */
}

.experience-item, .education-item, .certification-item {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.experience-item h3, .education-item h3, .certification-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.company, .degree {
    font-weight: bold;
    margin-bottom: 5px;
}

.date {
    color: #777;
    font-style: italic;
    margin-bottom: 15px;
}

.experience-item ul {
    list-style: square;
    padding-left: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.skill-category h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #007bff;
}

.skill-category ul {
    list-style: none;
    padding: 0;
}

.skill-category li {
    margin-bottom: 8px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 3px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 2em;
    }
    .container {
        width: 95%;
    }
    .skills-grid {
        grid-template-columns: 1fr; /* Stack skills on smaller screens */
    }
}